<link rel="stylesheet" href="/stylesheet.css">
<div class = "fretboard">
    <!--create strings based on variable-->
    <% for(let i = 0; i < numberOfStrings; i++) {%>
        <div class="string">
        <!--create frets based on variable per string-->
        <% for(let fret = 0; fret <= numberOfFrets; fret ++){ %>
            <div class="noteFret"></div> 
            <% if(i === 0 && (singleFretMarkPositions.indexOf(fret + 1) !== -1)) {%>
                <div class="singleFretmark"></div>
            <%}%>
        <%}%>
        </div>
    <%}%>        
</div>