<link rel="stylesheet" href="/stylesheet.css">
<div class = "fretboard">
    <!--create strings based on variable-->
    <% for(let i = 0; i < numberOfStrings; i++) {%>
        <div class="string">
        <!--create frets based on variable per string-->
        <% for(let fret = 0; fret <= numberOfFrets; fret++){ %>
            <%if(i === 0 && singleFretMarkPositions.indexOf(fret) !== -1){ %>
                <div class = "noteFret singleFretMark"></div>
            <%}else if (i === 0 && doubleFretMarkPositions.indexOf(fret) !== -1) {%>
                <div class = "noteFret"><div class = "doubleFretMark"></div></div>
            <%}else {%>
                <div class = "noteFret"></div>
            <%}%>
        <%}%>
        </div>
    <%}%>        
</div>