<link rel="stylesheet" href="/stylesheet.css">
<div class = 'fretboard'>
    <div class = 'string'>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret singleFretmark"></div>
        <div class="noteFret"></div>
        <div class="noteFret singleFretmark"></div>
        <div class="noteFret"></div>
        <div class="noteFret singleFretmark"></div>
        <div class="noteFret"></div>
        <div class="noteFret singleFretmark"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret">
            <div class="doubleFret"></div>
        </div>
    </div>
    <div class = 'string'>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
    </div>
    <div class = 'string'>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
    </div>
    <div class = 'string'>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
    </div>
    <div class = 'string'>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
    </div>
    <div class = 'string'>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
        <div class="noteFret"></div>
    </div>
</div> 