<link rel="stylesheet" href="/stylesheet.css">
<div class = "fretboard">
    <!--create strings based on variable-->
    <% for(let i = 0; i < numberOfStrings; i++) {%>
        <div class="string">
        <!--create frets based on variable per string-->
        <% for(let fret = 0; fret <= numberOfFrets; fret++){ %>
            <%let noteName = generateNoteNames((fret + guitarTuning[i]), accidentals);%>
            <%if(i === 0 && singleFretMarkPositions.indexOf(fret) !== -1){ %>
                <div class = "noteFret singleFretMark" data-note=<%=noteName%>></div>  <!--fret marker-->
            <%}else if (i === 0 && doubleFretMarkPositions.indexOf(fret) !== -1) {%>
                <div class = "noteFret" data-note=<%=noteName%>><div class = "doubleFretMark"></div></div> <!--fret marker-->
            <%}else {%>
                <div class = "noteFret" data-note=<%=noteName%>></div>
            <%}%>
        <%}%>
        </div>
    <%}%>        
</div>
