
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-dark border-3">
  <div>
    <a class="navbar-brand" href="/">
      <img src= "/images/Logo.svg" width="150" height="75" alt="Logo">
    </a>
  </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav px-2">
          <a class="nav-item nav-link active" href="/"><span class = "h4">Home</span></a>
          <a class="nav-item nav-link" href="/mytabs"><span class = "h4">My Tabs</span></a>
      </div>
    </div>
    
      <div class="navbar-nav ml-auto px-5">
      <% if (!currentUser){ %>
        <div class="dropdown show">
          <a class="nav-item nav-link px-3 mx-4 btn btn-white btn-outline-primary border border-5 dropdown-toggle" 
             data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
            <span class = "h4 text-secondary">Login</span>
          </a>
          
          <div class="dropdown-menu" style="background-color: #D3D3D3; box-shadow: 1em 1em 1em black;">
            <form action = "/login" method = "POST" class="px-4 py-3 needs-validation" style="width: 20em;" novalidate>
              <div class="form-group">
                <label for="exampleDropdownFormEmail1">Username</label>
                <input type="text" class="form-control" name = "username" id="exampleDropdownFormEmail1" placeholder="Username" autofocus required>
              </div>
              <div class="form-group mt-2">
                <label for="exampleDropdownFormPassword1">Password</label>
                <input type="password" class="form-control" name="password" id="exampleDropdownFormPassword1" placeholder="Password" required>
              </div>
              <button class="btn btn-primary mt-3">Sign in</button>
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/forgot-password">Forgot password?</a>
          </div>
        </div>
       
        <a class="nav-item nav-link btn btn-white btn-outline-success border border-5" href="/register">
          <span class = "h4">Register</span>
        </a>
      <%}else {%>
        <a class="nav-item nav-link btn btn-white btn-outline-success border border-5" href="/logout">
          <span class = "h4">Logout</span>
        </a>
      <%}%>



      </div>   
  </nav>


  