<div class = 'min-vh-100' id = "tab-container">
    <div class = 'tab-row d-flex'>
        <div class="empty-area">
        </div>
    </div>

    <div class = 'tab-row d-flex'>
        <div class="empty-area">
        </div>
    </div>
    
</div>

