<% layout('./layouts/boilerplate') -%>
<% if (error && error.length) {%>
    <span style="color:red; margin-left: 1rem;"><%= error %></span>
<%}%> 
<% if (success && success.length) {%>
    <span style="color:blue; margin-left: 1rem;"><%= success %></span>
<%}%> 

<div class = "container mw-100 mx-0">
    <div class="row">
        <div class="col-9">
            <div class="navbar my-2 mx-3">
                <div class ="d-inline">
                    <div class="btn btn-white btn-outline-dark" id = "clear-board-button">Clear Board</div>
                    <div class="btn btn-white btn-outline-dark mx-1" id = "remove-previous-button">Remove Previous </div>
                    <div class="btn btn-white btn-outline-dark" id = "create-empty-column-button">Create Empty Column</div>
                    <div class="btn btn-white btn-outline-dark" id = "create-bar-button">Create New Bar</div>
                    <div class="btn btn-white btn-outline-dark mx-1" id="new-row-button">New Row</div>  
                </div>
                <div class = "d-inline">
                    <button onclick = "printContent('tab-container')" class="btn btn-white btn-outline-dark mx-1">Export </button>
                    <a href="#" class="btn btn-white btn-outline-dark">Save Tab</a>
                </div>
            </div>
            <div class="container">
                <div class="mb-3">
                    <%- include ('../partials/fretboard.ejs') %> 
                </div>
                <div class = "border-top border-3">
                    <h2 class = "mt-3">Tab Maker</h2>
                    <%- include ('../partials/tab.ejs') %> 
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="border-start border-bottom border-3 border-dark">
                <div class="d-flex justify-content-center">
                    <h1>How to Use:</h1>
                </div>
                <div class="d-flex justify-content-center mx-3 mb-2">
                    <p>You can either click on the notes directly on the fretboard,
                        or click on the tab and type in a fret number using your own keyboard.
                        In order to use the special characters, you need to type the corresponding characters 
                        that are listed below using your own keyboard. 
                        You can use your <b>W and S keys to change strings.</b>
                    </p>
                </div>
                <div class="d-flex justify-content-center mx-3 mb-2">
                    <p>You can turn on <b>caps lock </b>to prevent the automatic creation of new empty columns. 
                        This will also prevent the automatic deletion of empty columns while using certain special characters.
                    </p>
                </div>
                
                <div class="d-flex justify-content-center">
                    <h4>Special Characters:</h4>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center mb-4">
                    <h6> / - Slide</h6>
                    <h6> H - Hammer</h6>
                    <h6> P - Pull off</h6>
                    <h6> B - Bend</h6>
                    <h6> R - Release</h6>
                    <h6> V - Vibrato</h6>
                    <h6> X - Slap</h6>
                    <h6> | - Create New Bar</h6>
                    <h6> Space - Create Empty Column</h6>
                    <h6> Backspace - Delete Previous Column</h6>
                    <h6> Enter - Create New Row</h6>
                </div>
            </div>
        </div>
    </div>  
