<% layout('./layouts/boilerplate') -%>
<body id=""resetpassword-body>
<div class="container d-flex justify-content-center align-items-center" id="resetpassword-container">
    <div class="card shadow">
        <div class="card-body">
            <div class="">
                <h2 class="card-title text-dark">Reset Password for <%=username%></h2>
                <h1 class="border bottom mb-4"></h1>
            </div>
            <div>
                <form action="" method="POST">
                    <div class="mb-3"> 
                        <input class = 'form-control' type = 'password' id = 'password' name = 'password' placeholder = 'New Password' required> 
                    </div>
                    <button class="btn btn-primary col-12 mt-1">Reset Password</button>
                </form> 
            </div>
        </div>
    </div>
</div>
</body>
