<% layout('./layouts/boilerplate') -%>
<div class="d-flex justify-content-center align-items-center flex-column mt-3">
<h1>
    Please verify your account!
    <img src="/images/check.jpg" alt="verifyimage" style="height: 1em; width: 1em;">
</h1>

<img src="/images/guitarverify.jpg" alt="verifyimage" class="w-25 h-25">
</div>