:root{
    /*variables for fretboard size and string positions*/
    --fretboard-height: 300;
    --number-of-strings: 6;
    --string-height: 7;
    --string-top-position: calc(var(--fretboard-height)/(var(--number-of-strings))/2 - (var(--string-height)/2));
    --double-fretmark-position-1: calc(var(--fretboard-height)*0.25);
    --double-fretmark-position-2: calc(var(--fretboard-height)*0.75);
    --noteDotOpacity: 0;
}

@media print{
    .tab-row{
        width: 100% !important;
    }
    .tabSpan{
        width: 0.5rem !important;
    }
    @page { margin: 0; }
    body { margin: 1.6cm; }
}


/*fretboard styles*/
.fretboard {
    display: flex;
    flex-direction: column;
    background: #be975b url(./images/woodPattern.png);
    width: 100%;
    height: calc(var(--fretboard-height) * 1px);
}

.string{
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.string:before{
    content: '';
    width: 100%;
    height: calc(var(--string-height) * 1px) ;
    background: linear-gradient(#eee,#999);
    box-shadow: 0px 5px 8px #000;
    z-index: 1;
    position: absolute;
    top: calc(var(--string-top-position) * 1px);
}

.note-fret {
    display: flex;
    flex: 1;
    border-right: 0.5em solid;
    border-image: linear-gradient(to left, #777, #bbb, #777) 1 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.note-fret-number {
    width: 100%;
    text-align: center;
    justify-content: center;
    position: relative;
}


.note-fret:first-child{
    background: #161717;
    min-width: 55px;
    border-right: 12px solid;
    flex-grow: 0;
    flex-shrink: 0;
    border-image: linear-gradient(to left, #bbb, #fff, #bbb) 1 100%;
}

.note-fret:before{
    content: attr(data-note);
    width: 33px;
    height: 33px;
    border-radius: 50%;
    line-height: 33px; 
    text-align: center;
    background-color: lightseagreen;
    z-index: 2;
    color: #eee;
    opacity: var(--noteDotOpacity);
}

.single-fretmark:after{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #808080;
    top: calc(var(--fretboard-height)/2 * 1px);
    transform: translate(0, -50%);
}

.double-fretmark:before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #808080;
    top: calc(var(--double-fretmark-position-1)* 1px);
    transform: translate(-110%, -50%);
}

.double-fretmark:after{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #808080;
    top: calc(var(--double-fretmark-position-2)* 1px);
    transform: translate(-110%, -50%);
}

/*tab styles */
.tab-column {
    width: min-content;
    display: flex;
    flex-flow: column nowrap;
}

.tab-column span{
    width: 16px;
    height: 1.2em;
    text-align: center;
    vertical-align:middle;
    font-weight: 500;
}

.tab-row{
    overflow: hidden;  
    margin-bottom: 2em;
}

.color-this-string {
    color: blue;
    font-weight: bold;
}

.tabSpan{
    cursor: pointer;
}

span[contenteditable] {
    white-space: pre;
}

.card-body{
    width: 27em;
}

#dropdown-menu-header{
    background-color: #D3D3D3; 
    box-shadow: 1em 1em 1em black;
}

#login-form-header{
    width: 20em;
}

#forgotpassword-container{
    margin-top: 10em;
}

#forgotpassword-success-style{
    color:red;
    margin-left: 1rem;
}

#forgotpassword-body{
    background: lightslategrey;
}

#home-alert-error{
    color:red;
    margin-left: 1rem;
}


#home-alert-success{
    color:blue;
    margin-left: 1rem;
}

#mytab-alert-error{
    color:red;
    margin-left: 1rem;
}

#mytab-alert-success{
    color:blue;
    margin-left: 1rem;
}

#register-error{
    color:red;
}

#register-body{
    background: url('/images/login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#resetpassword-body{
    background: lightslategrey;
}

#resetpassword-container{
    margin-top: 10em;
}

#verifyaccount-image{
    height: 1em;
    width: 1em;
}

@media (max-width: 1430px){
    .variableIsMoreThan15 {
        display: none;
    }
}

@media (max-width: 1050px){
    .variableIsLessThan15 {
        display: none;
    }
}

